body {
    font-family: Arial, sans-serif;
    background-color: #ffc3da;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    color: #2a1447;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.vertical-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #ffde73;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #fd9635;
}
